[submodule "MATH-341"]
	path = MATH-341
	url = https://github.com/MSWS/MATH-341
[submodule "MCS-375"]
	path = MCS-375
	url = git@github.com:MSWS/MCS-375.git
[submodule "CSCI-247"]
	path = CSCI-247
	url = git@github.com:MSWS/CSCI-247.git
